{ lib
, gtk-layer-shell
, buildFlutterApp
}:

buildFlutterApp {
  pname = "<<projectName>>";
  version = "0.1.0";

  src = ../.;

  buildInputs = with pkgs; [
    gtk-layer-shell
  ];

  meta = with lib; {
    description = "<<description>>";
    homepage = "<<repoUrl>>";
    maintainers = [];
    license = licenses.<<license>>;
    platforms = platforms.linux;
  };
}
